:root {
  --header-color: hsla(58, 89%, 40%, 1);
  --border-color: hsla(0, 0%, 65%, 1);
}
#header {
  height: 5%;
  background-color: var(--header-color);
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
#header h1 {
}

main {
  margin: 0 auto;
  width: 100%;

  margin-top: 1rem;
}

#utilities {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

#utilities * + * {
  margin-left: 0.75rem;
}

#utilities #share_pdf_form {
  border: none;
  display: inline;
}

#share_pdf_form label {
  font-weight: 600;
  font-size: 0.75rem;
}

#utilities button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
#share_pdf_form input,
#share_pdf_form button {
  padding: 0.25rem 0.5rem;
}

#tab_container {
  list-style: none;
  display: flex;
  position: relative;
  width: 100%;
}

#tab_container .tab {
  display: inline;
  width: 25%;
  cursor: pointer;
}

.tab header {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  font-weight: bold;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}

.tab header.active {
  border-bottom: none;
}
.tab .content {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 97%;
  border: 1px solid var(--border-color);
  background-color: #ffffff;
  min-height: 100px;
}

.content img {
  max-width: 100%;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  main {
    max-width: 550px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
    max-width: 700px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
    max-width: 900px;
  }

  .tab .content {
    width: 100%;
    max-width: 100%;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  main {
    max-width: 1024px;
  }
}
